$DARK_GREY: #2C363F;
$GREY: #5A686C;
$WHITE: #FCFFF7;
$ORANGE: #E53D00;
$YELLOW: #B36B00;

.link {
  font-size: 24px;
  text-decoration: underline;
  font-family: BebasNeue;
  border: none;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 140px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  
  &:hover {
    transform: scale(1.08) rotate(2deg);
  }
}

.card {
  max-width: 700px;
  max-height: 220px;
  height: 100%;
  padding: 16px 24px;
  border: 3px solid $DARK_GREY;
  a {
    @extend .link;
  }
}

.buttons {
  text-align: center;
  margin-top: 16px;
  a {
    @extend .link;
    color: $DARK_GREY;
    margin: 0px 8px;
  }
}

.projects {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
  h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  a {
    @extend .link;
    color: $DARK_GREY;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    width: 90%;
  }
  .card {
    max-height: 320px;
  }
}